<% provide(:title, @post.title) %>

<div class="row">
  <h2>
    <div class="form-group">Title</div>
    <div class="form-group"> <%= @post.title %></div>
  </h2>
  <h3>
    <div class="form-group">Body</div>
    <div class="form-group"> <%= @post.body %></div>
  </h3>
</div>
