<% provide(:title, @user.name) %>

<div class="row w3-padding left-16">

  <div class="col-md-4 col"  >
    <div><img src="https://seeklogo.com/images/M/manchester-united-logo-F14DA1FCCD-seeklogo.com.png" class="img-rounded avartar" alt=""></div>
    <div class="info_text_name center"><%= @user.name  %></div>
    <div class="info_text_email center"><%= @user.email  %></div>
  </div>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
        <%= will_paginate @microposts %>
        <ol class="microposts">
          <%= render @microposts%>
        </ol>
    <% end %>
  </div>
</div>
