<% provide(:title, "About") %>
<h1>About</h1>
<p>
  About the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">about page</a>.
</p>

<form action="static-pages/create" method="post">
   <div>
      <p>Quoc gia cu tru   </p> <input type="text" name="">
      <p>Cach xung ho      </p>

        <form ">
            <input type="radio" name="ong" value="onh" > Ong<br>
            <input type="radio" name="ba" value="ba"> Ba<br>
        </form>



      <p>Ho ten day du     </p> <input type="text" name="">
      <p>Quoc tich         </p> <input type="text" name="">
      <p>Noi sinh          </p> <input type="text" name="">
      <p>Ngay sinh         </p> <select><option>option01</option><option>option02</option><option>option09</option><option>option10</option></select>   </p> <select><option>option01</option><option>option02</option><option>option09</option><option>option10</option></select>   </p> <select><option>option01</option><option>option02</option><option>option09</option><option>option10</option></select>

       <button type="submit">Dang Ky</button>
    </div>
</form>
